<h1>Here is a page backed by a database</h1>
<ul>
  <li><a href="/">Root Page</a></li>
  <li><a href="/style">Root Page w/style</a></li>
  <li><a href="/python">page w/python</a></li>
  <li><a href="/database">page w/database</a></li>
</ul>

<h3>Cars</h3>
<table>
  <thead>
    <th>Make</th>
    <th>Model</th>
    <th>Color</th>
    <th>Year</th>
  </thead>
  <tbody>
  {% for car in cars %}
    <tr>
      <td> {{ car.make }}</td>
      <td> {{ car.model }}</td>
      <td> {{ car.color }}</td>
      <td> {{ car.year }}</td>
    </tr>  
  {% endfor %}
  </tbody>
</table>

<br /><br />

<form action="/add_car" >
  <label>Make</label><br />
  <input type="text" name="make" />
  <br />
  <br />

  <label>Model</label><br />
  <input type="text" name="model" />
  <br/>
  <br />

  <label>Color</label><br />
  <input type="text" name="color" />
  <br />
  <br />

  <label>Year</label><br />
  <input type="text" name="year" />
  <br />
  <br />

  <input type="submit" />
</form>