<h1>This is the index page</h1>
<ul>
  <li><a href="/">Root Page</a></li>
  <li><a href="/style">Root Page w/style</a></li>
  <li><a href="/python">page w/python</a></li>
  <li><a href="/database">page w/database</a></li>
</ul>
<p>Note how there is nothing special about this page, just plain html.</p>
<p>This is a good option for pages that contain static information.</p>

<p>We don't want just static pages though, we want pages powered by PYTHON!</p>




